		<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "com.binarysoft.emumap"
	versionCode="4"
	version   = "4.9">
	<preference name="phonegap-version" value="cli-6.5.0"/>
		<name>SHIFTCLOCKER INCORPORATED		</name>
		<description>Punch in made easy		</description>
		<author href="http://www.online.shiftclocker.com" email="info@shiftclocker.com">Olumide Francis		</author>
		<feature name="http://api.phonegap.com/1.0/battery" />
		<feature name="http://api.phonegap.com/1.0/camera" />
		<feature name="http://api.phonegap.com/1.0/contacts" />
		<feature name="http://api.phonegap.com/1.0/file" />
		<feature name="http://api.phonegap.com/1.0/geolocation" />
		<feature name="http://api.phonegap.com/1.0/media" />
		<feature name="http://api.phonegap.com/1.0/network" />
		<feature name="http://api.phonegap.com/1.0/notification" />
		<plugin name="cordova-plugin-console"  source="npm" spec="undefined" />
		<plugin name="cordova-plugin-device"  source="npm" spec="0.2.3" />
		<plugin name="cordova-plugin-device-orientation"  source="npm" />
		<plugin name="cordova-plugin-device-motion"  source="npm" />
		<plugin name="cordova-plugin-dialogs"  source="npm" />
		<plugin name="cordova-plugin-file-transfer"  source="npm" />
		<plugin name="cordova-plugin-geolocation"  source="npm" spec="https://github.com/apache/cordova-plugin-geolocation.git" />
		<plugin name="cordova-plugin-globalization"  source="npm" />
		<plugin name="cordova-plugin-inappbrowser"  source="npm" />
		<plugin name="cordova-plugin-media"  source="npm" />
		<plugin name="cordova-plugin-network-information"  source="npm" spec="https://github.com/apache/cordova-plugin-network-information.git" />
		<plugin name="undefined" version="" source="npm"  />
		<plugin name="undefined" version="" source="npm"  />
		<plugin name="undefined" version="" source="npm"  />
		<preference name="phonegap-version" value="cli-6.3.0" />
		<preference name="android-build-tool" value="gradle" />
		<preference name="orientation" value="default" />
		<preference name="fullscreen" value="false" />
		<preference name="target-device" value="universal" />
		<preference name="webviewbounce" value="true" />
		<preference name="prerendered-icon" value="true" />
		<preference name="stay-in-webview" value="true" />
		<preference name="ios-statusbarstyle" value="default" />
		<preference name="detect-data-types" value="true" />
		<preference name="exit-on-suspend" value="false" />
		<preference name="show-splash-screen-spinner" value="true" />
		<preference name="auto-hide-splash-screen" value="true" />
		<preference name="FadeSplashScreen " value="true" />
		<preference name="EnableViewportScale" value="false" />
		<preference name="MediaPlaybackRequiresUserAction" value="false" />
		<preference name="AllowInlineMediaPlayback" value="true" />
		<preference name="BackupWebStorage" value="local" />
		<preference name="TopActivityIndicator" value="white" />
		<preference name="KeyboardDisplayRequiresUserAction" value="true" />
		<preference name="KeyboardShrinksView " value="true" />
		<preference name="HideKeyboardFormAccessoryBar" value="true" />
		<preference name="SuppressesIncrementalRendering" value="false" />
		<preference name="windows-identity-name" value="" />
		<preference name="android-minSdkVersion" value="10" />
		<preference name="android-targetSdkVersion" value="19" />
		<preference name="android-installLocation" value="auto" />
		<preference name="SplashScreenDelay" value="2000" />
		<preference name="ErrorUrl" value="error.html" />
		<preference name="BackgroundColor" value="0x000000" />
		<preference name="DisallowOverscroll" value="true" />
		<preference name="LoadingDialog" value="," />
		<preference name="LoadUrlTimeoutValue" value="null" />
		<platform name="ios">
		<icon src="images/ios/Icon-App-57x57@1x.png" width="57" height="57" />
		<icon src="images/ios/Icon-72@2x.png" width="144" height="144" />
		<icon src="images/ios/Icon-72.png" width="72" height="72" />
		<icon src="images/ios/icon144.png" width="114" height="114" />
		<icon src="images/ios/Icon-Small-50.png" width="50" height="50" />
		<icon src="images/ios/Icon-Small-50@2x.png" width="100" height="100" />
		<icon src="images/ios/Icon-60.png" width="60" height="60" />
		<icon src="images/ios/Icon-App-40x40@3x.png" width="120" height="120" />
		<icon src="images/ios/Size180.png" width="180" height="180" />
		<icon src="images/ios/icon-76.png.png" width="76" height="76" />
		<icon src="images/ios/icon-152.png" width="152" height="152" />
		<icon src="images/ios/icon-small.png" width="29" height="29" />
		<icon src="images/ios/icon-small2x.png" width="58" height="58" />
		<icon src="images/ios/icon-40.png" width="40" height="40" />
		<icon src="images/ios/icon402x.png" width="80" height="80" />
		</platform>
		<platform name="android">
		</platform>
		<platform name="winphone">
		</platform>
		 <icon src="icon.png" />
		<access origin="https://github.com/apache/cordova-plugin-geolocation" />
		<access origin="*" />
		<allow-intent href="*" />
		<allow-intent href="http://*/*" />
		<allow-intent href="https://*/*" />
		<allow-intent href="tel:*" />
		<allow-intent href="sms:*" />
		<allow-intent href="mailto:*" />
		<allow-intent href="geo:*" />
		<platform name="android" >
		<allow-intent href="market:*" />
		</platform>
		<platform name="ios" >
		<allow-intent href="itms:*" />
		</platform>
		<platform name="ios" >
		<allow-intent href="itms-apps:*" />
		</platform>
		</widget>